<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862381171830-av3be3alq27glbet7lhtjep5kr9dl48i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862381171830-av3be3alq27glbet7lhtjep5kr9dl48i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>862381171830-7fs2lpc99s7sv3eliqakbsfk0i59g7ug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZN4wTAvgwdOq-qppLibpqtVs_bbYkeVs</string>
	<key>GCM_SENDER_ID</key>
	<string>862381171830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappdemo</string>
	<key>PROJECT_ID</key>
	<string>filebase-eb521</string>
	<key>STORAGE_BUCKET</key>
	<string>filebase-eb521.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862381171830:ios:f245a0516bd3d66702eb57</string>
</dict>
</plist>